@use "./mixins";
@use "./header";
footer {
    background-color: black;
    @include mixins.flexCentering(column, center);
    h3 {
        color: white;
    }
    .socialsContainer{
        margin-top: 1rem;
        @include mixins.flexCentering(row, "");
        .socials {
            @include mixins.socialStyles();
        }
    }
}