@mixin btnStyles() {
  border: none;
  border-radius: 5%;
  padding: 0.375rem 0.625rem;
  background-color: rgb(120, 204, 120);
  text-decoration: none;
  color: white;
  font-size: 1.45rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
@mixin flexCentering($direction, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
}
@mixin socialStyles() {
  font-size: 4rem;
  background-color: transparent;
}
