@use "./variables";
/* ===================================== 
    -----nav------
======================================== */
#navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-right: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 1rem;
  align-items: center;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  .logo {
    font-size: 2rem;
    padding-left: 1rem;
    font-family: "Dancing Script", cursive;
    color: black;
  }
  ul {
    display: none;
    align-items: center;
    margin-right: 1rem;

    li {
      margin-left: 1rem;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
/* ===================================== 
    -----/nav------
======================================== */
